/* -------------------------------------------------- */
/* CARD
/* -------------------------------------------------- */

/* COMMON */
.card {
	overflow: hidden;
	position: relative;
	padding: 0;
	border-radius: var(--radius-sm);
	/*background-color: var(--secondary-color);*/

	box-shadow: var(--box-shadow-xl);

	transition: var(--ease-in-out);
}


/* HOVER */
.card-primary:hover,
.card-secondary:hover,
.card-accent:hover,
.card-wild:hover,
.card-charcoal:hover,
.card-light-grey:hover {
	transform: scale(1.01);
}


.card-primary:hover div *,
.card-secondary:hover div *,
.card-accent:hover div *,
.card-wild:hover div *,
.card-charcoal:hover div *,
.card-light-grey:hover div * {
	color: var(--white-color);
}


.card-primary:hover div .lazy,
.card-secondary:hover div .lazy,
.card-accent:hover div .lazy,
.card-wild:hover div .lazy,
.card-charcoal:hover div .lazy,
.card-light-grey:hover div .lazy {
	border-color: var(--secondary-color);
}


.card-primary:hover {
	background-color: var(--primary-color);

	box-shadow: 0 8px 10px 1px rgba(var(--primary-color-rgb),0.1),
				0 3px 14px 2px rgba(var(--primary-color-rgb),0.2),
				0 5px 5px -3px rgba(var(--primary-color-rgb),0.3);
 }


.card-secondary:hover {
	background-color: var(--secondary-color);

	box-shadow: 0 8px 10px 1px rgba(var(--secondary-color-rgb),0.1),
				0 3px 14px 2px rgba(var(--secondary-color-rgb),0.2),
				0 5px 5px -3px rgba(var(--secondary-color-rgb),0.3);
 }

.card-accent:hover {
	background-color: var(--accent-color);

	box-shadow: 0 8px 10px 1px rgba(var(--accent-color-rgb),0.1),
				0 3px 14px 2px rgba(var(--accent-color-rgb),0.2),
				0 5px 5px -3px rgba(var(--accent-color-rgb),0.3);
 }

.card-wild:hover {
	background-color: var(--wild-color);

	box-shadow: 0 8px 10px 1px rgba(var(--wild-color-rgb),0.1),
				0 3px 14px 2px rgba(var(--wild-color-rgb),0.2),
				0 5px 5px -3px rgba(var(--wild-color-rgb),0.3);
}

.card-charcoal:hover {
	background-color: var(--charcoal-color);

	box-shadow: 0 8px 10px 1px rgba(var(--charcoal-color-rgb),0.1),
				0 3px 14px 2px rgba(var(--charcoal-color-rgb),0.2),
				0 5px 5px -3px rgba(var(--charcoal-color-rgb),0.3);
}

.card-light-grey:hover {
	background-color: var(--light-grey-color);

	box-shadow: 0 8px 10px 1px rgba(var(--charcoal-color-rgb),0.1),
				0 3px 14px 2px rgba(var(--charcoal-color-rgb),0.2),
				0 5px 5px -3px rgba(var(--charcoal-color-rgb),0.3);
}


/* HELPERS */
.card.outline {
	border: 1px solid var(--secondary-color);
	background-color: transparent;

	box-shadow: none;
}
