/* -------------------------------------------------- */
/* MODAL
/* -------------------------------------------------- */

/* PARENT */
.modal {
	z-index: 99;
	overflow: auto;
	position: fixed;
	top: 50%;
	left: 0;
	/*bottom: 0;*/
	right: 0;
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
	height: auto;
	background-color: var(--white-color);
	border-radius: var(--radius-md);
	box-shadow: var(--box-shadow-xl);

	transform: translate3d(0,-50%,0) scale(1);

	-webkit-overflow-scrolling: touch;

	/* Force GPU Rendering */
	/*backface-visibility: hidden;*/
	/*perspective: 1000;*/

	transition: var(--ease-fast);
}


/* CHILD */
.modal-container {
	overflow: hidden;
	width: 100%;
	height: auto;
}


/* HELPERS */
/*
.modal.open {
	transform: translate3d(-50%,-50%,0) scale(1) translateZ(0);
}
*/


/* RESPONSIVE */
@media screen and (min-width: 0) and (max-width: 1023px) and (min-height: 0) and (max-height: 1023px) {

	.modal {
		top: 0;
		left: 0;
		right: auto;
		width: 100% !important;
		height: 100% !important;
		max-width: 100% !important;
		max-height: 100% !important;
		border-radius: 0;

		transform: translate3d(0,0,0) scale(1);
	}

}
