/* -------------------------------------------------- */
/* PROFILES
/* -------------------------------------------------- */

/* PARENT */
.profile {
	background-color: var(--accent-color-color);
}


/* CHILD */
.profile .cell {
	position: relative;
}


/* IMAGE */
.profile #photo {
	
}


/* DESCRIPTION */
.profile #description {
	/*
	padding-left: var(--gutter-single-lg);
	padding-right: var(--gutter-single-lg);
	*/
}


/* SOCIAL ICONS */
.profile.social-icons {
	position: absolute;
	bottom: 0;
	padding: var(--gutter-xs);
	background-color: transparent;
}

.profile.social-icons li a {
	width: 35px;
	height: 35px;
	font-size: 1em;
	color: var(--white-color);
	background-color: var(--secondary-color);
}

.profile.social-icons li a:hover {
	color: var(--white-color);
	background-color: var(--accent-color);
}


/* RESPONSIVE */
@media screen and (min-width: 0) and (max-width: 500px) {

	/* CHILD */
	.profile .cell {

	}

}