/* -------------------------------------------------- */
/* FADE
/* -------------------------------------------------- */

/* COMMON */
.fade-top::before,
.fade-bottom::after,

.fade-left::before,
.fade-right::after,

.fade-lr::before,
.fade-lr::after {
	content: '';
	z-index: 1;
	pointer-events: none;
	position: absolute;
}


/* TOP / BOTTOM */
.fade-top::before,
.fade-bottom:after {
	width: 100%;
}

.fade-top::before {
	top: 0;
	height: 100%;
	background: transparent;
	background: linear-gradient(to bottom, rgba(255,255,255,1) 25%, rgba(255,255,255,0) 100%);

}

.fade-bottom::after {
	bottom: 0;
	height: 25%;
	background: transparent;
	background: linear-gradient(rgba(255,255,255,0) 25%, rgba(255,255,255,1) 100%);
}


/* LEFT / RIGHT */
.fade-left::before,
.fade-right::after,

.fade-lr::before,
.fade-lr::after {
	bottom: 0;
	width: 15%;
	height: 100%;
}

.fade-left::before,
.fade-lr::before {
	left: 0;

	background-color: transparent;
	background: linear-gradient(to right, rgba(var(--secondary-color-rgb),1) 10%, rgba(var(--secondary-color-rgb),0) 100%);
}

.fade-right::after,
.fade-lr::after {
	right: 0;

	background-color: transparent;
	background: linear-gradient(to right, rgba(var(--secondary-color-rgb),0) 10%, rgba(var(--secondary-color-rgb),1) 100%);
}
