
<!-- CONTENT -->
<section id="hero" class="hero grid-x grid-padding-x align-center align-middle position-relative padding-none padding-top-xl background-white background-cover background-repeat background-center overflow-hidden no-selection emergence-ignore" data-src="{{ root }}{{ images }}index/network-03.png" role="banner">


	<!-- BACKGROUND: IMAGE -->
	<!--
	<div class="position-absolute top left width-full height-full overflow-hidden z-auto">
		<div class="position-absolute top left width-full height-full background-cover background-tr background-tc-tablet background-no-repeat lazy"
			 data-src="{{ root }}{{ images }}{{ page }}/hero@2x.png"
			 data-srcset="{{ root }}{{ images }}{{ page }}/hero@1x.png 220w,
						  {{ root }}{{ images }}{{ page }}/hero@2x.png 330w"
			 data-sizes="220px">
		</div>
	</div>
	-->
	<!-- // BACKGROUND: IMAGE -->


	<div class="position-absolute left bottom fade-bottom width-full height-half z-01"></div>
	<canvas id="fx-neural-network"></canvas>


	<!-- BACKGROUND -->
	<!--
	<div class="position-absolute top right width-xxs height-full background-auto background-bl background-no-repeat overflow-visible lazy hide-mobile z-auto" data-src="{{ root }}{{ images }}/illustrations/rocket.svg"></div>
	-->


	<!--
	<img class="position-absolute width-lg lazy hide" style="top: 0; right: -20em;" alt="Welcome to AXEL!" data-src="{{ root }}{{ images }}/illustrations/rocket.svg">
	-->
	<!-- // BACKGROUND -->


	<!-- HEADER -->
	<header class="cell position-relative width-xs height-half-mobile z-02">


		<!-- COPY -->
        <h1 class="font-header text-primary text-bold fix-font-render">The Native Blockchain Deployment Redefining Distributed Exchange Protocols</h1>
        <p class="text-charcoal fix-font-render">The AXEL (Autonomous eXchange via Entrusted Ledger) Blockchain is the next evolution of our platform, with a unique dual-chain architecture and delegated proof of stake consensus.</p>
		<!-- // COPY -->

		
		<!-- BUTTON GROUP -->
		<div class="button-group expanded stacked-for-small margin-top-lg">

			<a href="https://t.me/axelnetwork" target="_blank" class="width-xxxs round-full button button-fx-primary external">Join Our Telegram</a>

			<a href="modals/whitepaper" class="width-xxxs round-full button button-fx-secondary popup prevent-default external" data-content-selector="white-paper" data-content-width="600" data-content-height="660">Read the White Paper</a>

			<a href="https://go.axel.org/whitelist" target="_blank" class="width-xxxs round-full button button-fx-secondary external">Join the Whitelist</a>

		</div>
		<!-- // BUTTON GROUP -->


	</header>
	<!-- // HEADER -->


	<!-- SOCIAL -->
	<ul class="cell position-relative self-align-center social-icons dark list-horizontal text-center z-03">
		{{> social-icons}}
	</ul>
	<!-- // SOCIAL --> 


	<!-- SCROLL HINT -->
	<a href="#welcome" class="cell position-relative self-align-center padding-none margin-tb-lg margin-bottom-none-mobile scroll-to no-waves hide-on-scroll z-04" aria-label="What is AXEL?">
		{{> scroll-hint}}
	</a>
	<!-- // SCROLL HINT -->


	<!-- SHAPE -->
	<svg class="stripe position-absolute left bottom emergence-ignore-child" preserveAspectRatio="none" viewBox="0 0 1024 100">
		<polygon fill="#fff" points="512 100 1024 100 1024 0 512 100"/>
		<polygon fill="#fff" points="0 100 512 100 0 0 0 100"/>
	</svg>
	<!-- // SHAPE -->


</section>
<!-- // CONTENT -->
