
<!-- CONTENT: LOGOS -->
<section id="welcome" class="position-relative margin-top-xxxl margin-top-xl-tablet margin-top-none-mobile" aria-hidden="true" data-emergence="hidden">


	<!-- HEADER -->
	<h2 class="font-copy padding-auto padding-tb-none p2 text-secondary text-center header-accent-center header-accent-secondary">媒体报道</h2>
	<!-- // HEADER -->


	<!-- SLIDER -->
	<div class="slider-default overflow dark js-flickity anim"
		 data-flickity-options='{"cellSelector": ".slider-item",
								 "initialIndex": 0,
								 "accessibility": true,
								 "setGallerySize": true,
								 "resize": true,
								 "cellAlign": "center",
								 "contain": true,
								 "imagesLoaded": true,
								 "percentPosition": false,
								 "rightToLeft": false,
								 "draggable": true,
								 "freeScroll": true,
								 "wrapAround": true,
								 "groupCells": false,
								 "autoPlay": 2000,
								 "pauseAutoPlayOnHover": false,
								 "adaptiveHeight": false,
								 "watchCSS": false,
								 "dragThreshold": 10,
								 "selectedAttraction": 0.2,
								 "friction": 0.8,
								 "freeScrollFriction": 0.03,
								 "prevNextButtons": false,
								 "pageDots": true,
								 "lazyLoad": 2,
								 "bgLazyLoad": 1
								}'>


		<!-- ITEM -->
		{{#each logos-press.content}}
		<div data-id="{{ id }}" class="slider-item text-center margin-lr-lg">
			
			<a href="{{ link }}" target="_blank" class="sprite-wrapper {{ id }}" aria-label="{{ title }}"></a>
			
		</div>
		{{/each}}
		<!-- // ITEM -->
		
	
	</div>
	<!-- // SLIDER -->


	<!-- BUTTON -->
	<div class="padding-auto padding-bottom-xl">

		<a href="{{ modals }}press" class="width-xxs round-full button button-fx-secondary button-fx-flat button-fx-static box-shadow-sm box-shadow-xl-hover anim-top prevent-default" data-content-selector="articles" data-content-width="650" data-content-height="auto">查看更多文章</a>
		
	</div>
	<!-- // BUTTON -->


</section>
<!-- // CONTENT: LOGOS -->
