
<!-- CONTENT: MODAL -->
<dialog id="modal" aria-labelledby="" aria-describedby="" role="dialog">


	<!-- PRELOADER -->
	<div id="modal-preloader" class="mini-preloader light"><span class="fa fa-circle-o-notch fa-spin" aria-hidden="true" role="document"></span><p>Loading...</p></div>
	<!-- // PRELOADER -->


	<!-- ERROR -->
	<div id="modal-error" class="center-vh">
		<span class="fa fa-exclamation-circle p4" aria-hidden="true"></span>
		<p></p>
	</div>
	<!-- // ERROR -->


	<!-- CONTAINER -->
	<div id="modal-container" class="modal-container z-01"></div>
	<!-- // CONTAINER -->


	<!-- CLOSE -->
	<button id="modal-close" class="close dark margin-sm round-full z-02" aria-label="Close this dialog window.">
		<span></span>
		<span></span>
	</button>
	<!-- // CLOSE -->


</dialog>
<!-- // CONTENT: MODAL -->
