
<!-- PROFILE CARD -->
{{#each profile.content}}


	<!-- CARD -->
	<div class="cell card card-light-grey media-object background-white">


	  <!-- MEDIA OBJECT -->
	  <div class="media-object-section">


		<!-- IMAGE -->
		<div class="wh-xs round-full border-xxs border-solid border-light-grey background-secondary background-cover background-tc background-no-repeat lazy transition-ease" alt="{{ title }}" data-src="{{ image }}"></div>
		<!-- // IMAGE -->


	  </div>
	  <!-- // MEDIA OBJECT -->


	  <!-- MEDIA OBJECT -->
	  <div class="media-object-section position-relative">


		<!-- COPY -->
		<h3 class="margin-bottom-none p9 font-paragraph text-secondary text-bold text-truncate">{{ title }}</h3>
		<h4 class="p10 font-paragraph text-dark-grey">{{ subtitle }}</h4>
		<p class="p10">{{ description }}</p>
		<!-- // COPY -->


		<!-- SOCIAL -->
		<ul class="social-icons dark list-horizontal text-left">

			{{#each social}}
				<li>
					<a href="{{ link }}" target="_blank" rel="noopener" class="social-icon-{{ icon }}-hover" aria-label="{{ icon }}">
						<span class="fa fa-{{ icon }}" aria-hidden="true"></span>
					</a>
				</li>
			{{/each}}

		</ul>
		<!-- // SOCIAL -->


	  </div>
	  <!-- // MEDIA OBJECT -->


	</div>
	<!-- // CARD -->


{{/each}}
<!-- // PROFILE CARD -->
