
<!-- PROFILE CARD -->
{{#each profile.content}}


	<!-- CARD -->
	<div class="cell card position-relative padding-none media-object background-white">


	  <!-- MEDIA OBJECT -->
	  <div class="media-object-section padding-none padding-sm">


		<!-- IMAGE -->
		<div class="wh-xs round-full border-xxs border-solid border-light-grey background-secondary background-cover background-tc background-no-repeat lazy transition-ease" alt="{{ title }}" data-src="{{ image }}"></div>
		<!-- // IMAGE -->


	  </div>
	  <!-- // MEDIA OBJECT -->


	  <!-- MEDIA OBJECT -->
	  <div class="media-object-section padding-none padding-sm position-relative">


		<!-- COPY -->
		<a href="modals/{{ link }}" class="margin-bottom-none p9 font-paragraph text-secondary text-accent-hover text-bold text-leading-xxs popup prevent-default" data-content-url="" data-content-selector="" data-content-width="600" data-content-height="800">{{ title }}</a>

		<p class="p10 font-paragraph text-dark-grey text-leading-xxs">{{ subtitle }}</p>
		<!--<p class="p10">{{ description }}</p>-->
		<!-- // COPY -->


		<!-- BUTTON -->
		<!--
		<a href="modals/{{ link }}" class="p10 text-secondary text-accent-hover text-bold text-uppercase popup no-touch-feedback prevent-default" data-content-url="" data-content-selector="" data-content-width="600" data-content-height="800"><span class="fa fa-external-link margin-right-xs"></span>Read Bio</a>
		-->
		<!-- // BUTTON -->





	  </div>
	  <!-- // MEDIA OBJECT -->


		<!-- SOCIAL -->
		<ul class="social-icons dark list-vertical position-absolute center-v right text-right">

			{{#each social}}
			<li>
				<a href="{{ link }}" target="_blank" rel="noopener" class="social-icon-{{ icon }}-hover" aria-label="{{ icon }}">
					<span class="fa fa-{{ icon }}" aria-hidden="true"></span>
				</a>
			</li>
			{{/each}}

		</ul>
		<!-- // SOCIAL -->


	</div>
	<!-- // CARD -->


{{/each}}
<!-- // PROFILE CARD -->
